.header{
  overflow: hidden;
}
.header img{
  width: 100%;
}
.subHeader{
  margin: 0 15px 0 15px;
  align-items: center;
  background-color: var(--naranjaMasterChef);
}
.logo{
  width: 50px;
  background-color: white;
  padding: 25px;
}
.subHeader{
  display: flex;
  position: relative;
  top: -40px;
}
.title{
  display: inline;
  width: fit-content;
  padding: 0 0 0 25px;
  color: white;
}
.descargarCatalogo{
  padding: 0 20% 0 20%;
}
.Cards{
  padding: 0 20px 0 20px;
}

.prodDestacados{
  padding: 0 20px 0 20px;
}