.header{
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-image: url(https://s3-alpha-sig.figma.com/img/baae/f330/90292b464aac1f6d499e88cbde4c3646?Expires=1645401600&Signature=EEWwBIfKNxix0G3yRPEdGQsZR~n4Z7nUC1d94YuMacd47msYQl7SrkV8w8B75XZbvnMGRaXAJaA-FHml0tLTx9cr0G-6G4bKo0NgnCY2HifFSUmNELBzxe8QGqX~45bngPY0lW~ZhbfgfW2PYJzMDD-HlEQujVLXiA2v0gweOuuzxqkEe2BFo-9gsBWe3pIODRLDJIM90Yx9FTzMQ7gxfO5E2PUNhtBK3Aef9nH4KFqj9Fs0kh26Bih1fCtTpLxRKUoX7dVx6lrbrPa1ruYxKWqUpjEE52jw-PwZJMmxO5VvbBjLquH5xtcn9-Yg9j3HuV5fIDhc-hH8IwLRKSBa5A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
}
.header img{
  width: 100%;
}
.subHeader{
  margin: 0 15px 0 15px;
  align-items: center;
  background-color: var(--naranjaMasterChef);
}
.logo{
  width: 50px;
  background-color: white;
  padding: 25px;
}
.subHeader{
  display: flex;
  position: relative;
  top: -40px;
}

.title{
  display: inline;
  width: fit-content;
  padding: 0 0 0 25px;
  color: white;
}
.descargarCatalogo{
  padding: 0 20% 0 20%;
}
.Cards{
  padding: 0 20px 0 20px;
}
.prodDestacados{
  padding: 0 20px 0 20px;
}
.desktopTitle{
  display: none;
}
.cardsDesktop{
  display: none;
}
@media (min-width:800px) {
  .Cards{
    display: none;
  }
  .titulos{
    margin: var(--marginDesktop);
  }
  
  .desktopTitle{
    display: block;
    font-family: 'ExtraBold';
    font-size: 96px;
    color: white;
    filter: var(--centerShadow);
    padding: 70px;
    width: 50%;
    margin-left: 5%;
  }
  .header{
    height: 110vh;
    display: flex;
    align-items: center;
  }
  .title{
    padding: 20px;
  }
  .titulos{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .subHeader{
    margin: 0;
    top: -85px;
    width: fit-content;
    height: 125px;
  }
  
  .descargarCatalogo{
    padding: 0;
  }
  .logo{
    width: 75px;
  }
  .title{
    font-size: 26pt;
    width: 300px;
  }
  .cardsDesktop{
    display: grid;
    justify-items: center;
    margin: var(--marginDesktop);

  }
}