.header{
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.header img{
  width: 100%;
}
.subHeader{
  margin: 0 15px 0 15px;
  align-items: center;
  background-color: var(--naranjaMasterChef);
}
.logo{
  width: 50px;
  background-color: white;
  padding: 25px;
}
.subHeader{
  display: flex;
  position: relative;
  top: -40px;
}
.title{
  display: inline;
  width: fit-content;
  padding: 0 0 0 25px;
  color: white;
}
.descargarCatalogo{
  padding: 0 20% 0 20%;
}
.Cards{
  padding: 0 20px 0 20px;
}
.prodDestacados{
  padding: 0 20px 0 20px;
}
.desktopTitle{
  display: none;
}
.cardsDesktop{
  display: none;
}
@media (min-width:800px) {
  .Cards{
    display: none;
  }
  
  .desktopTitle{
    display: block;
    font-family: 'ExtraBold';
    font-size: 96px;
    color: white;
    filter: var(--centerShadow);
    padding: 70px;
    width: 50%;
    margin-left: 5%;
  }
  .header{
    height: 110vh;
    display: flex;
    align-items: center;
  }
  .title{
    padding: 20px;
  }
  .titulos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .subHeader{
    margin: 0;
    top: -85px;
    width: fit-content;
    height: 125px;
  }
  
  .descargarCatalogo{
    padding: 0;
  }
  .logo{
    width: 75px;
  }
  .title{
    font-size: 26pt;
    width: 300px;
  }
  .cardsDesktop{
    display: grid;
    justify-items: center;
    margin: var(--marginDesktop);
  }
}