.conocenos{
  background-size: cover;
  background-position-x:-60px ;
  height: 250px;
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: flex-end;
  margin: 50px 0 70px 0;
  width: 100vw;
}


.subCard{
  background-color: white;
  width:45%;
  height: fit-content;
  height: 100px;
  padding: 12px 10px 12px 25px;
  margin-right: 20px;
}
.tituloConocer{
  color: var(--rojo);
  font-size: 14pt;
}
.subTitleConocer{
  font-size: 12pt;
  width: 100%;
}
.textRuta{
  font-size: 8pt;
  display: inline-block;
}
.flecha{
  display: flex;
  gap: 20px;
}
.flecha svg{
  font-size: 8pt;
  position: relative;
  top: 6px;
  margin-left: 50px;
}
.espacios{
  margin: 5px 0 5px 0;
}

@media (min-width:800px) {
  .conocenos{
    margin: 50px 10px 70px 10px;
    background-position-x:-100px ;
  }
  .subCard{
    margin: 0;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
  }
  .flecha{
    align-self:flex-end;
    height: fit-content;
  }
  .textRuta{
    margin: 0;
  }
}