

.filter{
  display: flex;
  background-color: white;
  gap: 1px;
  width: 100%;
}
.filterBlock{
  background-color: var(--rojo);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}
.filterBlock path ,.filterBlock line ,.filterBlock circle{
  color: white;
}
.filterBlock h6{
  color: white;
  font-size: 10pt;
  font-weight: 100;
}

.otrasRecetas{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.paginacion{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}