.header{

  display: grid;
  width: 100%;
  justify-items: center;
}
.headerTitle{
  margin-bottom: 20px;
}
.imgHeader{
  width: 100%;
  z-index: -1;
  content: url('../../imagenes/grupoGente.jfif');
}
.bajada{
  background-color: white;
  margin: 0px 20px 0 20px ;
  position: relative;
  top: -30px;
  display: grid;
  justify-items: center;
  padding: 20px;
  
}
.title{
  color: var(--rojo);
  font-family: 'ExtraBold';
  font-size: 15pt;
  margin-bottom: 7px;
}
.subTitle{
  font-family: 'Bold';
  font-size: 13pt;
  text-align: center;
}
.parrafo,.parrafo2{
  padding: 30px;
  font-family: 'Regular';
  font-size: 10pt;
}
.parrafo2{
  padding: 30px 30px 15px 30px;
}
.destacado{
  margin: 0 20px 0 20px;
}
.Invisible{
  opacity: 0;
  transition: var(--transitionCorta);
  position: relative;
  bottom: -100px;
  user-select: none;
}
.Visible{
  opacity: 1;
  transition: var(--transitionCorta);
  position: relative;
  bottom: 0;
  user-select: none;
}

@media (min-width:800px) {
  .headerTitle{
    font-size: 34px;
    margin: 20px 0 25px 0;
  }
  .header{
    display: grid;
    
  }
  .imgDesktop{
    height: 400px;
    overflow: hidden;
    display: grid;
    align-content: center;   
    width: 100%;
  }
  .imgHeader{
    position: relative;
    transition: var(--transitionCorta);
  }
  .bajada{
    width: 50%;
    margin: -30px auto 0 auto ;
    padding: 40px;
  }
  .headerDesktop{
    margin: var(--marginCatalogo);
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: calc( var(--marginCatalogo));
  }
}