
.headerImg{
  padding: 0 20px 0 20px;
  width: calc(100% - 40px);
}
.title{
  background-color: white;
  width: 60%;
  margin: auto;
  padding: 25px;
  position: relative;
  top: -40px;
  display: grid;
  gap: 10px;
  justify-items: center;
}
.title h3{
  line-height: 23px;
  font-family: 'ExtraBold';
  font-size: 15pt;
  width: fit-content;
  text-align: center;
  color: var(--rojo);
}
.verReceta{
  display: flex;
  align-items: center;
  gap: 20%;
  font-family: 'Regular' ;
  letter-spacing: 2px;
}