.container{
  width: fit-content;
  padding: 0 5px 0 5px;
  display: flex;
}
.imagen{
  width: 150px;
  height: 204px;
  overflow: hidden;
  margin-top: -54px;

}
.imagen img{
  width: calc(100% - 10px);
}
.img{
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
@media (min-width:800px) {
  .container{
    overflow: hidden;
    /* display: flex; */
    justify-content: center;
    padding: 0;
    /* height: 25000%; */
    /* background-color: red; */
  }
  .imagen{
    position: relative;
    margin-top: -54px;
    width: 150px;
    height: 200px;
    overflow: visible;

    /* width={132} height={165} */
  }
  .infiltrado{
    display: block;
    width: 500px;
    height: 500px ;
    background-color: red;
  }
}
/* 153 */