.fondo{
  height: 0;
}
.fondo img{
  overflow: hidden;
  /* height: 300px; */
  width: 100%;
}

.top{
  background-repeat: no-repeat;
  padding: 60px 20px 0 20px;


}
.tittle{
  width: 60%;
  color: var(--rojo);
  font-size: 15pt;

}
.subTittle{
  width: 65%;
  font-size: 8pt;
  margin-top: 13px;
  line-height: 15px;
}
.aclaracion{
  font-size: 6pt;
  margin-top: 3px;
}
.boton{
  margin-top: 20px;
  padding-bottom: 50px;
  width: fit-content;
}
.carrusell,.carrusell div{
  z-index: 1;
  
}
.carrusell li{
  width: fit-content ;
}
.video{
  width: 100%;
  display: grid;
}
.video iframe{
  width: calc(100% );
  height: 300px;
  margin: auto;
}
.plus{
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}
.plus img{
  width: 50px;
  height: 50px;
}
.produDestacados{
  margin-top: 70px;
  padding: 0 20px 0 20px;
}
.conocenos{
  margin-top: 100px; 
  display: grid;
}
.conocenosImg{
  width: 100%;
  overflow: hidden;
}
.grupoGente{
  display: grid;
  width: 400px;
  position: relative;
  left: -90px;
}
.subCard{
  background-color: white;
  width:45%;
  justify-self: right;
  position: relative;
  top: -150%;
  padding: 12px 0 12px 25px;
}
.tituloConocer{
  color: var(--rojo);
  font-size: 14pt;
}
.subTitleConocer{
  font-size: 12pt;
  width: 100%;
}
.textRuta{
  font-size: 8pt;
  display: inline-block;
}
.flecha{
  display: flex;
  gap: 20px;
}
.flecha svg{
  font-size: 8pt;
  position: relative;
  top: 6px;
  margin-left: 50px;
}
.espacios{
  margin: 5px 0 5px 0;
}