
.top{
  
  background-image: url('../../imagenes/Fondo\ Home.jfif');
  background-size: 190%;
  padding: 60px 20px 0 20px
}
.tittle{
  width: 60%;
  color: var(--rojo);
  font-size: 15pt;

}
.subTittle{
  width: 65%;
  font-size: 8pt;
  margin-top: 13px;
  line-height: 15px;
}
.aclaracion{
  font-size: 6pt;
  margin-top: 3px;
}
.boton{
  margin-top: 20px;
  padding-bottom: 20px;
}

.hola{
  background-color: red;
}
.carrusell li{
  margin: 0 20px 0 20px;
}
.lista{
  display: flex;
  transition: 1s;
}
.lista li{
  list-style: none;
  display: inline-block;
}