.containerLeft,.containerRight{
  margin: 20px;
  overflow: hidden;
  display: grid;
}

.imagenLeft,.imagenRight{
  width: 85%;
  height: 150px;
  overflow: hidden;
  display: grid;
  align-content: center;
}
.imagenRight{
  justify-self: right;
}
.imagenLeft img, .imagenRight img{
  width: 100%;
  position: relative;
}
.subCardLeft,.subCardRight{
  background-color: white;
  width: 65%;
  height: 120px;
  justify-self: right;
  position: relative;
  top: -45px;
  padding: 20px 20px 20px 25px;
  display: grid;
}
.subCardRight{
  justify-self: left;
}

.tittle{
  color: var(--rojo);
  font-size: 15pt;
  font-family: 'ExtraBold';
  height: fit-content;
}
.subTittle{
  font-size: 15pt;
  font-family: 'Bold';
  margin-top: 5px;
}
.textRuta{
  font-size: 8pt;
  font-family: 'Regular';
  letter-spacing: 2px;
  display: inline-block;
}
.flecha{
  display: flex;
  gap: 20px;
  align-items: flex-end;

}
.flecha svg{
  font-size: 8pt;
  position: relative;
  top: 1.2px;
}