.containerLeft,.containerRight{
  margin: 20px;
  overflow: hidden;
  display: grid;
}
.desktop{
  display: none;
}
.imagenLeft,.imagenRight{
  width: 85%;
  height: 170px;
  overflow: hidden;
  display: grid;
  align-content: center;
}
.imagenRight{
  justify-self: right;
}
.imagenLeft img, .imagenRight img{
  width: 100%;
  position: relative;
}
.subCardLeft,.subCardRight{
  background-color: white;
  width: 65%;
  height: 145px;
  justify-self: right;
  position: relative;
  top: -65px;
  padding: 20px 20px 20px 25px;
  display: grid;
  cursor: pointer;
}
.subCardRight{
  justify-self: left;
}

.tittle{
  color: var(--rojo);
  font-size: 15pt;
  font-family: 'ExtraBold';
  height: fit-content;
}
.subTittle{
  font-size: 15pt;
  font-family: 'Bold';
  margin-top: 5px;
}
.textRuta{
  font-size: 8pt;
  font-family: 'Regular';
  letter-spacing: 2px;
  display: inline-block;
}
.flecha{
  display: flex;
  gap: 20px;
  align-items: flex-end;
  transition: .4s;
}
.flecha svg{
  font-size: 8pt;
  position: relative;
  top: -1.2px;
}
.subCardLeft:hover .flecha{
  gap: 10px;

}
.subCardRight:hover .flecha {
gap: 10px;
}
@media (min-width: 370px) and (max-width: 408px){
  .subCardLeft,.subCardRight{
    height: 125px;
  }
}
@media (min-width: 409px) and (max-width: 500px){
  .subCardLeft,.subCardRight{
    height: 110px;
  }
}
@media (min-width:800px) {
  .mobile{
    display: none;
  }
  .desktop{
    background-color: red;
    background-size: cover;
    margin: 20px;
    background-repeat: no-repeat;
    display: flex;
    height: 270px;
    align-items: center;
    justify-content: flex-end;
  }
  .subCardLeft,.subCardRight{
    top: 0;
    height: 130px;
    width: 230px;
  }
}
