
.NavBar, .container, .containerInactivo{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
  height: 50px;
  transition: var(--transitionCorta);
  width:100% ;
  margin: 0 20px 0 20px;
  z-index: 10;
}
.container, .containerInactivo{
  display: flex;
  position: fixed;
  align-items: center;
  margin: 0;
}

.containerInactivo{
  margin: 0;
  background-color: black;
}
.logos{
  display: flex;

}
.logo, .logoActivo{
  width: 100px;
  transition: var(--transitionCorta);
  opacity: 0;
}

.logoActivo{
  position: fixed;
  opacity: 1;
}

.menu,.menuActivo{
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  transition: var(--transitionCorta);
}
.menuActivo svg, .menuActivo svg{
  transition: var(--transitionCorta);
  color: white;
  
}
.activo path,.inactivo path{
  transition: var(--transitionCorta);
}
.activo path{
  color: white;
}