.NavBar, .container, .containerInactivo{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  transition: var(--transitionCorta);
  width:100% ;
  margin: 0 20px 0 20px;
  z-index: 90;
}
.container, .containerInactivo{
  display: flex;
  position: fixed;
  align-items: center;
  margin: 0;
}

.containerInactivo{
  margin: 0;
  background-color: black;
}
.logos{
  display: flex;
  cursor: pointer;
}
.logo, .logoActivo{
  width: 100px;
  transition: var(--transitionCorta);
  opacity: 0;
}

.logoActivo{
  position: fixed;
  opacity: 1;
}
.menu,.menuActivo{
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  transition: var(--transitionCorta);
  cursor: pointer;
  align-items: center;
  margin-left: 10px;
}
.menuActivo svg, .menuActivo svg{
  transition: var(--transitionCorta);
  color: white;
}
.cambiarIdiomaDesktop{
  display: none;
}
.activo path,.inactivo path{
  transition: var(--transitionCorta);
}
.activo path{
  color: white;
}
.desktopLinks{
  display: none;
}
.desktopLink,.desktopLinkRojo,.desktopLinkActivo{
  font-family: 'ExtraBold';
  font-size: 12pt;
  transition: var(--transitionCorta);
}
.desktopLinkRojo{
  color: var(--rojo);
}
.desktopLinkActivo{
  color: white;
}
.cambiarIdiomaMobile{
  display: flex;
  align-items: center;
  width: 70%;
  gap: 20px;
  justify-content: space-around;
}
.desplegable{
  position: fixed;
  top: 80px;
  z-index: 200;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: white;
  transition: var(--transitionCorta);
}
.Full{
  cursor: pointer;
  height: 80px;
  display: flex;
  align-items: center;
}
@media (min-width: 800px) {
  .container, .containerInactivo{
    height: 80px;
  }
  .logo,.logoActivo{
    width: 120px;
  }
  .menu,.menuActivo{
    display: none; 
  }
  .cambiarIdiomaMobile{
    display: none;
  }
  .cambiarIdiomaDesktop{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 35px;
  }

  .desktopLinks{
    justify-content: space-between;  
    display: flex;
    gap:  0 20px 0 20px ;
    white-space: nowrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .logos{
    margin-right: 35px;
  }
  .desktopLink,.desktopLinkRojo,.desktopLinkActivo{
    font-size: 8pt;
    padding: 0;
  }
}
@media (min-width:800px) {
  .desktopLink,.desktopLinkRojo,.desktopLinkActivo{
    font-size: 6.5pt;
  }
}

@media (min-width:1000px) {
  .desktopLink,.desktopLinkRojo,.desktopLinkActivo{
    font-size: 9pt;
  }
}
@media (min-width:1040px) {
  .desktopLink,.desktopLinkRojo,.desktopLinkActivo{
    font-size: 10pt;
  }
}
@media (min-width:1200px)  {
  .desktopLink,.desktopLinkRojo,.desktopLinkActivo{
    font-size: 11pt;
  }
}