
.relleno,.noRelleno{
  background-color: var(--rojo);
  border: var(--rojo) 1px solid;
  color: transparent;
  /* width: fit-content; */
  font-family: 'Medium';
  font-size: 11pt;
  padding: 7px 13px 7px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.adelante{
  z-index: 200;

}
.noRelleno{
  border: var(--rojo) 2px solid;
  background-color: white;
}
.noRelleno span{
  color: var(--rojo);
  font-family: 'Black';
}
.text{
  color: white;
}
.flecha{
  display: flex;
  margin: 0 0 0 13px;

}
.flecha path{
  color: white;

}
.lista{
  height: 0px;
  display: grid;
}
.listContainer{
  background-color: var(--grisMedio);
  width: 100%;
  display: grid;
  gap: 2px;
  z-index: 200;
}
.li{
  color: var(--grisFuente);
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px 0 10px 15px;
  background-color: white;
  z-index: 200;
  font-size: 9pt;
  font-family: 'Black';

}
