.productos{
  background-color: white;
  padding: 30px;
  gap: 20px;
  margin: 0 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ingredientesTitle {color: var(--rojo);}
.consejo{
  font-family: 'SemiBold';
  font-size: 13pt;
}
.consejo{
  width: 90%;
}
@media (min-width:800px) {
  .productos{
    margin: var(--marginReceta);
    display: flex;
    justify-items: left;
  }
  .productosDesktop{
    overflow: visible;
  }
  .ingredientesTitle{
    font-size: 22px;
    width: 100%;
    text-align: left;
  }
  .consejo{
    width: 50%;
    justify-self: left;
  }
}