:root{
  --grisFondo: #EEECEA;
  --grisMedio:#D3D3D3;
  --marronHeader:#D9D4D0;
  --grisFuente:#4E4E4E;
  --transitionCorta:  .5s;
  --rojo: #E2091D;
  --naranjaMasterChef:#E26340;
}
*{
  color: var(--grisFuente);
}
@font-face {
  font-family: 'Black';
  src: url(../src/Fuentes/Mulish-Black.ttf);
}
@font-face {
  font-family: 'Medium';
  src: url(../src/Fuentes/Mulish-Medium.ttf);
}
@font-face {
  font-family: 'Regular';
  src: url(../src/Fuentes/Mulish-Regular.ttf);
}
@font-face {
  font-family: 'Light';
  src: url(../src/Fuentes/Mulish-Light.ttf);
}
@font-face {
  font-family: 'ExtraLight';
  src: url(../src/Fuentes/Mulish-ExtraLight.ttf);
}
@font-face {
  font-family: 'ExtraBold';
  src: url(../src/Fuentes/Mulish-ExtraBold.ttf);
}

*{
  scroll-behavior: smooth;
}

h1{
  font-family: 'Black';
}
h2{
  font-family: 'ExtraBold';
}
h3{
  font-family: 'Medium';
}
h4{
  font-family:'Regular' ;
}
h5{
font-family: 'Light';
}
h6{
  font-family: 'ExtraLight';
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: fit-content;
  background-color: var(--grisFondo);
}
html{
  width: 100%;
  height: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

